<!doctype html>
<html lang="pt-BR">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
		<title>Angelo Pavani Neto - Portfólio</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<!-- Importar nossos novos arquivos CSS -->
<style is:global>
	@import '../styles/variables.css';
	@import '../styles/global.css';
	@import '../styles/navbar.css';
	@import '../styles/hero.css';
	@import '../styles/sections.css';
	@import '../styles/contact.css';
</style>
